<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316147822294-ek2rhc9d17h19sbmt6t83kk3it7ojgfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316147822294-ek2rhc9d17h19sbmt6t83kk3it7ojgfl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>316147822294-mb5f0n9m570ui4bj4a525u1nji32c01t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFPW2aDg0gFDNr_0J4xs8SxrEO2whXW14</string>
	<key>GCM_SENDER_ID</key>
	<string>316147822294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.nexishive</string>
	<key>PROJECT_ID</key>
	<string>repo-edc2d</string>
	<key>STORAGE_BUCKET</key>
	<string>repo-edc2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316147822294:ios:38438a90d3d59c1f922377</string>
</dict>
</plist>